{% extends 'base.html' %}

{% block 'main' %}

<h2 class="text mx-auto text-center mt-5 text-info-emphasis" >Ohh! Forget Your Password?</h2>
<h4 class="text mx-auto text-center mt-5 text-info-emphasis" >No worries! Enter Your Email and we will send you code in your registered Email id</h4>

<form method="post">
    <div class="row mt-5 mx-auto shadow-lg bg-body-tertiary rounded" style="width:689px;height:296px">
        <div class="row mt-5 mx-5">
            <label for="2" class="col-sm-3 col-form-label"><strong>Email:</strong></label>
            <div class="col-auto mx-5" >
              <input type="email" name="umail" class="form-control border border-dark p-2 mb-2 border-opacity-50" id="2" placeholder="Enter Your EmailId">
            </div>
          </div>

          <div class="button mb-3 row">
            <div class="col-sm-4 mx-auto">
            <button type="Submit" class="btn btn-primary btn-lg">Send Request</button> 
            </div>
          </div>

</div>
</form>
{% endblock 'main' %}